/*.animatedBorderTable{
    transition-property: border-top-color, border-bottom-color,border-left-color,border-right-color;
    transition-duration: 0.5s;
    transition-opacity:0.1;
    border-width: thick;
    border: 1px solid red;
}*/
.fieldTable{
    margin: 0 auto;
}
.inactiveElement{
    transition: .3s ease-in-out;
    opacity: 0.7;
}
.activeElement{
    transition: .3s ease-in-out;
}
/*.redBorder:hover {opacity: 0.5;}*/

.shipKilledButton {
    transition: .3s ease-in-out;
    background-color: red;
    color: white;
    width: 100%;
    height: 100%;
}
.myShipButton {
    transition: .3s ease-in-out;
    background-color: black;
    width: 100%;
    height: 100%;
}
.emptyButton {
    transition: .3s ease-in-out;
    width: 100%;
    height: 100%;
}
.missedButton {
    transition: .3s ease-in-out;
    background-color: grey;
    width: 100%;
    height: 100%;
}

.fieldOwnerText{
    text-align: center;
    font-weight: normal;
    font-size: 18pt;
}
.bigLettersOntop{
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
}
.myGameFieldButton{
    width: 100%;
    height: 100%;
}
.enemyGameFieldButton{
    width: 100%;
    height: 100%;
}

.red {
    color: darkred;
}

.green {
    color: darkgreen;
}

#main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#chat-box{
    position: relative;
    height: 100%;
}

#client-box{
    height: 100%;
}

#user-name{
    position: absolute;
    top: -10px;
    left: 10px;
}

 #login {
    position: absolute;
    top: -15px;
    left: 10px;
 }

#this-user-name {
    position: absolute;
    top: -10px;
    right: 10px;
}

#message-form{
    position: absolute;
    bottom: 10px;
}

#messages {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 95%;
}

#clients-list{
    padding: 10px;
    overflow: auto;
    height: 95%;
    box-sizing: border-box;
    position: relative;
    left: 5px;
}

.uk-panel-box-success {
    width: 100%;
    background: #f2fae3;
    color: #659f13;
    border-color: rgba(101,159,19,.3);
}

.uk-panel-box-warning{
    background: #fffceb;
    color: #e28327;
    border-color: rgba(226,131,39,.3);
}